# =============================
# Python
# =============================
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
*.pyc

# =============================
# Virtual environments
# =============================
venv/
env/
.env/
.venv/

# =============================
# PySide6 / Qt
# =============================
*.log
*.qrc
*.pyc
*.pyd
*.pyo
*.rcc
*.ui

# =============================
# IDEs / Editors
# =============================
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.iml

# =============================
# OS files
# =============================
.DS_Store
Thumbs.db

# =============================
# Build / Distribution
# =============================
build/
dist/
*.egg-info/
*.egg
*.exe
*.msi

# =============================
# User-specific configs
# =============================
*.sqlite3
*.db
*.env
